img{
    width: 450px;
    height: 250px;
}
.container{
    border:1px solid black;
    height: 430px;
    width: 500px;
    margin-left: 215px;
    margin-top: 100px;
    background-color: rgb(255,165,0);
    padding-left: 0px;
    padding-right: 0px;
}
.container1{
    font-size: 25px;
    color:red;
    text-align: center;
    text-decoration: line-through;
    margin-right: 10px;
}
.container3{
    padding-left: 40px;
    padding-top: 0px;
    font-size: 25px;
    background-color:rgb(207,16,32) ;

}
.container2{
    padding-left: 35px;
}
.container4{
    padding-left:10px;
    color: white;
    font-family: cursive;
    font-size: 18px;
}
.container:hover{
    background-color: cyan;
}